body {
   
    background-color: #e0dddd;

    margin-top: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    
   
}
.signup-container {
    background-color: #a19a9a;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 600px;
}
.signup-container h2 {
    text-align: center;
}
.signup-form {
    display: flex;
    width: 300px;
    align-items: left;
    flex-direction: column;
}
.form-group {
    margin: 3px 0;

}
.form-group textarea
{
    border-radius: 5px;
}
.form-group label {
    font-weight: bold;
}
.form-group input {
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: 100%;
}

.form-group input.radio {
    padding: 8px;
    margin-left: 20px;
    align-content: right;
}


.error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}
.signup-button {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
.signup-button button {
    padding: 10px 20px;
    background-color: #0e6acc;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
}

.signup-button button:hover {
    background-color: #0056b3;
}